.login{
    margin: 100px auto 0 auto;
    width: 400px;
    padding: 40px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    box-sizing: border-box;
}
.login .message {
    margin: 10px 0 0 -58px;
    padding: 18px 10px 18px 60px;
    background: #9dc852;
    position: relative;
    color: #fff;
    font-size: 16px;
}
#darkbannerwrap {
    background: url(../images/aiwrap.png);
    width: 18px;
    height: 10px;
    margin: 0 0 20px -58px;
    position: relative;
}

.login input[type=text],.login input[type=password],.login select {
    border: 1px solid #DCDEE0;
    vertical-align: middle;
    border-radius: 3px;
    height: 50px;
    line-height: 50px;
    padding: 0px 16px;
    font-size: 14px;
    outline:none;
    width:285px;
    font-family: "VAGRounded","Microsoft YaHei","宋体",sans-serif;
}
.login input[type=text]:focus,.login input[type=password]:focus,.login select:focus {
    border: 1px solid #9dc852;
    font-family: "VAGRounded","Microsoft YaHei","宋体",sans-serif;
}

.login input[type=button]{
    display: inline-block;
    padding: 12px 24px;
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #ffffff;
    background-color: #9dc852;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    outline:none;
    width:320px;
    font-family: "VAGRounded","Microsoft YaHei","宋体",sans-serif;
}
.login input[type=button]:hover{ 
    background-color: #658827;
}
.login input[type=button]:focus{ 
    outline: none;
}
.hr15 {
    height: 15px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.hr20 {
    height: 20px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#divLoginPageAppDownloadTip
{
    display: none;
    margin:0px auto;
    width: 100%;
    height: 109px;
    min-width: 420px;
    background:url(../images/app_ad/app_download_div_bg.png);
    background-size:1024px 109px;
    -moz-background-size:1024px 109px; 
    background-repeat:repeat; 
    position:absolute;
    top:0; 
}
.divCssLoginAppHeadRow
{
    float:top;
    width:100%;
    height:19px;
}
.divCssLoginPageAppDownloadCenter
{
   
    width:400px;
    margin-left: auto;
    margin-right: auto;
    height:89px;
    vertical-align:middle;
}
.divCssLoginApp4gLogo 
{
    float:left; 
    width:70px;
    height:89px;
    display: table-cell; 
    vertical-align:middle; 
    text-align:center; 
    *display: block; 
    *font-family:Arial;
}

.divCssLoginApp4gLogo img 
{
    vertical-align:middle;
}

.divCssLoginAppDownloadAdText 
{
    float:left;
    height:89px;
    width: 240px;
}

.divCssLoginAppDownloadLogo
{
    float:left;
    margin-top:30px;
    width:88px;
    text-align: center;
}
.divCssLoginAppDownloadTipClose
{
    float:right;
    width:20px;
    height:20px;
    padding-right: 5px;
    padding-top: 5px;
}

.BannerTipClose
{
    float:right;
    width:20px;
    height:20px;
    padding-right: 5px;
    padding-top: 5px;
}
.BannerButtonTipClose{
    width:19px; 
    height:19px;
    border:0; 
    background:url(../images/app_ad/app_download_idv_close_log.png) no-repeat left top;
}

.AppDownloadTipClose{
    width:19px; 
    height:19px;
    border:0; 
    background:url(../images/app_ad/app_download_idv_close_log.png) no-repeat left top;
}
.loginAppMifiNameLabel{
    font-size:26px
}
.loginAppDownlaodDescriptionLabel{
    font-size:16px
}
.language_setting{
    width: 340px;
    height: 25px;
    overflow: hidden;
}
.language_pos{
    display: none;
    text-decoration: none;
    color: #9dc852;
    font-weight: bold;
    font-size: 14px;
}
.language_pos:hover{
    color: #658827;
}
.loginErrDIV{
    width: 340px;
    height: 20px;
    overflow: hidden;
    color: #ff0000;
    text-align: center;
}
