 /*slelect*/
 .btn-select { 
	border-radius:10px;
	position: relative; 
	display: inline-block; 
	width: 179px; 
	height: 25px; 
	background-color: #95cf3c; 
	font-size: 14px;
	color: #ffffff; 
} 
.btn-select .cur-select { 
	border-radius:10px;
	position: absolute; 
	display: block; 
	width: 179px; 
	height: 25px; 
	line-height: 25px; 
	background: #95cf3c url('../images/icon-arrow.png') no-repeat 158px center; 
	text-indent: 10px; 
	font-family: "VAGRounded","Microsoft YaHei","宋体",sans-serif;
	font-size: 14px;
} 
.btn-select:hover .cur-select { 
	background-color: #72a71f; 
} 
.btn-select select { 
	position: absolute; 
	top: 5px; 
	left: 5px; 
	width: 150px; 
	height: 25px; 
	-webkit-opacity:0;
	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity:0); 
	font-size: 14px;
	color: #95cf3c; 
} 
.btn-select select option { 
	text-indent: 5px; 
} 
.btn-select select option:hover { 
	background-color: #95cf3c; 
	color: #ffffff; 
}
